---
layout: default
title: About Chris
short: A little something about one half of NRDPLS including Chris' current Soundcloud playlist and his post archive.
image: /images/chris.jpg
---
<div id="profile_text"><h2>About Chris:</h2> <h3><a href="http://www.twitter.com/thewhoadyman" target="_blank">@thewhoadyman</a></h3></div>
<div style="float: right"><img src="/images/chris.jpg" width="200px"></img></div>
<p>What could I tell you that would give you a little insight into who I am and why I am who I am? I'll try and keep it simple for you:
<ul>
  <li>- I'm Filipino American, born in Houston, Texas and no, I have not learned how to speak Tagalog</li><br>
  <li>- I'm married to my best friend and we are the proud parents of a Sharbrador named Kikko and a Corgi named Korree</li><br>
  <li>- I used to breakdance in high school and that's when I fell in love with old school hip-hop and dance music</li><br>
  <li>- I've messed around as a DJ (house and UK garage when it was still a thing), nothing serious, but occassionaly still make house mixes</li><br>
  <li>- I was part of a Catholic youth group for half a dozen years</li><br>
  <li>- I'm a Team Beachbody Coach for health, fitness, and leadership development but have been dormant for a few years</li><br>
  <li>- I love video games and have gamed since owning an Intellivision when I was 5</li><br>
  <li>- I played Dungeons and Dragons (and similar pen and paper RPGs) consistently every other week for about 3-4 years</li><br>
</ul>
There's more to know and I'm sure you'll see much more here at NRDPLS. We're about showing people that we are all more than just the first blush, so there's a quick snapshot of some of the stuff that makes me, well, me.
</p>
<BR>
<div id="profile_text"><h2>Chris' December 2015 Playlist</h2></div>
<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/172035594&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
<BR>
<h2>Chris' Post Archive</h2>
<ul>
{% for post in site.posts do %}
  {% if post.author == "Chris" %}
  <div id="div-wrapper">
    <div id="element1">
      <li><h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    </div>
    <div id="element2">
      <strong>{{ post.date | date: "%B %e, %Y" }}</strong>
    </div>
  </div>
    <div id="element3">
      {{ post.short}}
    </div>
      </li>
  {% endif %}
{% endfor %}
</ul>
