---
layout: default
---
<h2>About Chris</h2>

<h2>Chris' Post Archive</h2>
<ul>
{% for post in site.posts do %}
  {% if post.author == "Chris" %}
  <div id="div-wrapper">
    <div id="element1">
      <li><h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    </div>
    <div id="element2">
      <p><small><strong>{{ post.date | date: "%B %e, %Y" }}</strong></small></p>
    </div>
  </div>
    <div id="element3">
      <p>{{ post.short}}</p>
    </div>
      </li>
  {% endif %}
{% endfor %}
</ul>
