---
layout: default
title: About Tim
short: Get to know a little something about Tim.
image: /images/tim.PNG
---
<div id="profile_text"><h2>About Tim: </h2><h3><a href="http://www.twitter.com/yaboyytim" target="_blank">@yaboyytim</a></h3></div>
<div style="float: right"><img src="/images/tim.PNG" width="200px"></img></div>
<p>I'm not good at writing a profile about myself, so here's an easy bullet-point list of some facts about me :D</p>
<br>
<ul>
  <li>* I was born and raised for most of my childhood in German (I was also born with a video game controller in my hands, lol)</li><br><br>
  <li>* I'm a military brat (GO ARMY!) and have been lucky enough to have traveled and lived around the world </li><br><br>
  <li>* And because of the military lifestyle, I absolutely love traveling, airports, train stations, and road trips. You can't get me on a boat, though, unless you want vomit all over you. </li><br><br>
  <li>* I love music, but who doesn't, right? I'd say my music taste is pretty eclectic; if I like the sound moves me in any way, it's good to me!</li><br><br>
  <li>* I love and play all kinds of sports, but mainly basketball. It's my first love <3</li><br><br>
  <li>* Snowboarding is my biggest addiction and has been since I first learned in 2007. The most I've gone in one season was 12 times XD</li><br><br>
  <li>* It's weird to say, but I'm an outdoorsy homebody, lol. By that, I mean I love staying in at home most of the time, but I also love doing anything outdoors such as (but not limited to) biking, fishing, camping, hiking, etc.</li><br><br>
  <li>* As a homebody, I'm all about playing video games, reading, watching movies, shows and anime. That's all I ever do and want to do on weekends.</li><br><br>
  <li>* My main passion and career is Photography. I studied and graduated as a professional photographer at Hallmark Institute of Photography. That was one of the best years of my life, hands down. Need a portrait or product shot taken? Holla at ya boyyyy. (No weddings, pl0x) You can visit my website to check some of my work out: www.timtolentino.com :)</li><br><br>
  <li>* I am a crazy dog person. I love, love, LOVE man's best friend! There has never been a time in my life where my family hasn't owned a dog. Due to being a military brat, we've had to give away most of them when moving, sadly. However, I'm a proud father of a welsh corgi named Milo and he is my whole world <3</li><br><br>
  <li>* Lastly, in the words of Jason Mraz, "I'm known to keep diggin' on existence." Simple as that!</li><br><br>
</ul>
<p>I think I covered a good amount, but I'm sure you'll get to know more about me as the posts come and go, and I hope I get to know about you all as well! Stay nerdy ::Spockhandsign::
<br>
:D
</p>
<br>
<h2>Tim's Post Archive</h2>
<ul>
{% for post in site.posts do %}
  {% if post.author == "Tim" %}
  <div id="div-wrapper">
    <div id="element1">
      <li><h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    </div>
    <div id="element2">
        <strong>{{ post.date | date: "%B %e, %Y" }}</strong>
    </div> 
  </div>
    <div id="element3">
      {{ post.short}}
    </div>
    </li>
  {% endif %}
{% endfor %}
</ul>
