<!DOCTYPE html>
<html>
  <head>
    <style>
      li {display: inline;}
    </style>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="NRDPLS: Nerds with a passion for life">

    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/stylesheet.css">

    <title>NRDPLS</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <h1 id="project_title">NRDPLS</h1>
          <h2 id="project_tagline">Nerd + Nerd = A passion for life, and other nerdy things</h2>
            <ul id="menu_wrap" class="White">
              <li class="button"><a href="http://nrdpls.com/home">Home</a></li>
              <li class="button"><a href="http://nrdpls.com/about">About</a></li>
              <li class="button"><a href="http://nrdpls.com/nerd">Nerd</a></li>
              <li class="button"><a href="http://nrdpls.com/plus">Plus</a></li>
              <li class="button"><a href="mailto:nrdpls@gmail.com">Contact</a></li>
              <li class="button"><a href="https://www.youtube.com/channel/UCt6WXl-uA_SlmhQL9U43vDg/live">Watch Live</a></li>
          </ul>
        </header>
    </div>
     <div id="main_content_wrap" class="outer">
       <section id="main_content" class="inner">
