<!DOCTYPE html>
<html lang="en">
<head>
  <title>NRDPLS</title>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="NRDPLS: Nerds with a passion for life">
  {% include opengraph.html %}
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://nrdpls.com/stylesheets/stylesheet.css">
  <link rel="stylesheet" href="http://nrdpls.com/css/blueimp-gallery.css">
  <link rel="stylesheet" href="http://nrdpls.com/css/blueimp-gallery-indicator.css">
  <link rel="stylesheet" href="http://nrdpls.com/css/blueimp-gallery_video.css">
  <link rel="stylesheet" href="http://nrdpls.com/css/blueimp-gallery.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <style>
    li {display: inline;}
  </style>
</head>
  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
          <header class="inner">
            <a href="http://nrdpls.com/home"><img src="http://nrdpls.com/images/SquareNRD.png" class="logo"></img></a>
          <div id="headertext">
            <h2 id="project_tagline">Two nerds. Eight eyes.</h2> 
            <h2 id="project_tagline">Passion for life. And other nerdy things.</h2>
          </div>
    </div>
