<!DOCTYPE html>
<html lang="en">
<head>
  <title>NRDPLS</title>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="NRDPLS: Nerds with a passion for life">
  {% include opengraph.html %}
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://nrdpls.com/stylesheets/stylesheet.css">
  <link rel="stylesheet" href="http://nrdpls.com/css/blueimp-gallery.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="http://nrdpls.com/js/blueimp-helper.js"></script>
  <script src="http://nrdpls.com/js/blueimp-gallery.js"></script>
  <script src="http://nrdpls.com/js/blueimp-gallery-fullscreen.js"></script>
  <script src="http://nrdpls.com/js/blueimp-gallery-indicator.js"></script>
  <script src="http://nrdpls.com/js/blueimp-gallery-video.js"></script>
  <script src="http://nrdpls.com/js/blueimp-gallery-vimeo.js"></script>
  <script src="http://nrdpls.com/js/blueimp-gallery-youtube.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>
/*jslint evil: true */
/*global window, document*/
// Including jQuery via the protocol relative url above works for both http and https.
// Explicitly including jQuery via https allows running the Gallery demo as local file:
if (!window.jQuery) {
    document.write(
        '<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"><\/script>'
    );
}
</script>
  <style>
    li {display: inline;}
  </style>
</head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
          <header class="inner">
            <a href="http://nrdpls.com/home"><img src="http://nrdpls.com/images/SquareNRD.png" class="logo"></img></a>
          <div id="headertext">
            <h2 id="project_tagline">Two nerds. Eight eyes.</h2> 
            <h2 id="project_tagline">Passion for life. And other nerdy things.</h2>
          </div>
    </div>
