<!DOCTYPE html>
<html lang="en">
<head>
  <title>NRDPLS</title>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="description" content="NRDPLS: Nerds with a passion for life">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="http://nrdpls.com/stylesheets/stylesheet.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <style>
    li {display: inline;}
  </style>
</head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <h1 id="project_title">NRDPLS</h1>
          <h2 id="project_tagline">Nerd + Nerd = Passion for life, and other nerdy things</h2>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="http://nrdpls.com/home">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="http://nrdpls.com/about">About</a></li>
        <li><a href="http://nrdpls.com/nerd">Nerd</a></li>
        <li><a href="http://nrdpls.com/plus">Plus</a></li>
        <li><a href="mailto:nrdpls@gmail.com">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://www.youtube.com/NRDPLS/live" target="_blank">YT Live</a></li>
        <li><a href="http://www.twitter.com/nrdpls" target="_blank">Twitter</a></li>
        <li><a href="https://instagram.com/nrdpls/" target="_blank">IG</a></li>
        <li>
          <div class="grid" id="searchBar">
            <div>
              <div id="search">
                <form role="search" method="get" action="{{site.baseurl}}/search/">
                 <input id="searchString" name="searchString"
                        placeholder="Learn Ionic, Be a Better Developer, etc." type="text">
                 <input id="searchButton" name="googleSearchName" type="button" value="Search">
                </form>
              </div>
            </div>
          </div>
        </li>
        </header>
      </ul>
    </div>
  </div>
</nav>
<div id="main_content_wrap" class="outer">
       <section id="main_content" class="inner">
