<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="http://nrdpls.com/about">About</a></li>
        <li><a href="http://nrdpls.com/nerd">Nerd</a></li>
        <li><a href="http://nrdpls.com/plus">Plus</a></li>
        <li><a href="mailto:nrdpls@gmail.com">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://www.youtube.com/NRDPLS/live" target="_blank"><img src="https://drive.google.com/uc?export=download&id=0BwpOlSlFtZi9Q201ZHBVUURhRGs"></img></a></li>
        <li><a href="http://www.twitter.com/nrdpls" target="_blank">Twitter</a></li>
        <li><a href="https://instagram.com/nrdpls/" target="_blank">IG</a></li>
        <li><a href="https://cse.google.com/cse/publicurl?cx=006449413257874484681:sbv7wtqv_vy">Search</a></li>
        </header>
      </ul>
    </div>
  </div>
</nav>
<div id="main_content_wrap" class="outer">
       <section id="main_content" class="inner">
