<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="http://wabisabi.com/about">About</a></li>
        <li><a href="http://wabisabi.com/stories">Stories</a></li>
        <li><a href="http://wabisabi.com/thankyou">Thank You</a></li>
        <li><a href="mailto:wabisabistories@gmail.com">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://www.youtube.com/wabisabistories" target="_blank"><img src="\assets\youtube.png"></img></a></li>
        <li><a href="http://www.twitter.com/wabisabistories" target="_blank"><img src="\assets\twitter.png"></img></a></li>
        <li><a href="https://instagram.com/wabisabistories/" target="_blank"><img src="\assets\instagram.png"></img></a></li>
        <li><a href="https://cse.google.com/cse/publicurl?cx=006449413257874484681:sbv7wtqv_vy" target="_blank"><img src="\assets\find.png"></img></a></li>
        </header>
      </ul>
    </div>
  </div>
</nav>
<div id="main_content_wrap" class="outer">
       <section id="main_content" class="inner">

<link rel="stylesheet" href="/stylesheets/blueimp-gallery.min.css">
