<meta name="description" content="{% if page.short %}{{ page.short | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

{% if page.robots %}
  <meta name="robots" content="{{ page.robots }}">
{% endif %}

<link rel="canonical" href="{{ site.url }}{{ page.url }}">

<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}">
<meta property="og:type" content="{% if page.date %}article{% else %}website{% endif %}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:image" content="{% if page.image %}{{ site.url }}{{ page.image }}{% else %}{{ site.icon }}{% endif %}">
<meta property="og:description" content="{% if page.short %}{{ page.short }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:site_name" content="{{ site.name }}">

{% if page.categories %}
  {% for category in page.categories limit:1 %}
  <meta property="article:section" content="{{ category }}">
  {% endfor %}
{% endif %}

{% if page.tags %}
  {% for tag in page.tags %}
  <meta property="article:tag" content="{{ tag }}">
  {% endfor %}
{% endif %}

<meta property="fb:app_id" content="{{ site.fb_appid }}">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@NRDPLS">
<meta name="twitter:creator" content="@NRDPLS">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}">
<meta name="twitter:description" content="{% if page.shortt %}{{ page.short | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:image" content="{% if page.image %}{{ site.url }}{{ page.image }}{% else %}{{ site.icon }}{% endif %}">
<meta name="twitter:url" content="{{ site.url }}{{ page.url }}">

<link rel="author" href="https://plus.google.com/+NRDPLS">
