<div id="share-page">
    Share this on &rarr; 
    <div id="share-page-right">
        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via=NRDPLS&related=NRDPLS" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a>
        <a href="https://www.facebook.com/dialog/share?app_id=956209357778602&display=popup&href={{ site.url }}{{ page.url }}" target="_blank" title="Share on Facebook">Facebook</a>
        <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+">Google+</a>
    </div>
</div>
