<!DOCTYPE html>
<html lang="en">
<head>
  <title>NRDPLS</title>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="NRDPLS: Nerds with a passion for life">
  {% include opengraph.html %}
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://nrdpls.com/stylesheets/stylesheet.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <style>
    li {display: inline;}
  </style>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68932595-1', 'auto');
  ga('send', 'pageview');
</script>
</head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
            <a href="http://nrdpls.com/home"><img src="http://nrdpls.com/images/SquareNRD.png" class="logo"></img></a>
          <div id="headertext">
            <h2 id="project_tagline">Two nerds. Eight eyes.</h2> 
            <h2 id="project_tagline">Passion for life. And other nerdy things.</h2>
          </div>
        </header>
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
